<a href="https://colab.research.google.com/github/dmswl0707/CoronaCoprosperityCard_DataScience/blob/main/2019%2C2020%EB%85%84%EB%8F%84_%EB%B6%84%EA%B8%B0%EB%B3%84_%EC%97%85%EC%A2%85_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s20= pd.read_csv('seoul2020.csv',encoding='euc-kr') #euc-kr
s19= pd.read_csv('seoul2019.csv',encoding='euc-kr')

In [ ]:
s19.head(3)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2019,1,A,골목상권,1000365,도봉로169나길,CS100002,중식음식점,25690326,1441,...,0,912,379,6,58,337,420,336,134,3
1,2019,1,A,골목상권,1000067,원효로53길,CS100006,패스트푸드점,580603245,31183,...,1691,14973,13349,457,6954,7736,6489,5041,1649,10
2,2019,1,A,골목상권,1000206,제기로21길,CS300018,의약품,570668039,36759,...,0,19488,17138,87,2716,4773,8301,9009,11741,13

# 2019년도 데이터의 상권코드를 오름차순으로 정렬한다.

In [ ]:
seoul2019= s19.sort_values(by=['상권_코드'])
seoul2020= s20.sort_values(by=['상권_코드'])

In [ ]:
seoul2019.head(3)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
31901,2019,1,A,골목상권,1000001,계동길,CS300022,화장품,266653743,8797,...,194,1678,7051,106,2650,2619,1693,1125,537,15
15167,2019,1,A,골목상권,1000001,계동길,CS200008,한의원,274558800,3498,...,0,2079,1419,55,393,575,1409,360,706,6
59567,2019,2,A,골목상권,1000001,계동길,CS300024,운동/경기용품,719106,10,...,0,10,0,0,0,0,10,0,0,3

# 2019년도 1분기와 2분기만을 추출

In [ ]:
seoul2019_1=seoul2019[seoul2019['기준_분기_코드']==1]
seoul2019_2=seoul2019[seoul2019['기준_분기_코드']==2]

In [ ]:
seoul2019_2.head(3)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
59567,2019,2,A,골목상권,1000001,계동길,CS300024,운동/경기용품,719106,10,...,0,10,0,0,0,0,10,0,0,3
79376,2019,2,A,골목상권,1000001,계동길,CS300018,의약품,58469796,6860,...,0,4111,2578,24,1116,2439,1279,1493,336,2
60712,2019,2,A,골목상권,1000001,계동길,CS100006,패스트푸드점,502472994,35702,...,0,15526,19732,1049,14985,9503,5276,3546,900,7

In [ ]:
print(type(seoul2019_1))

<class 'pandas.core.frame.DataFrame'>

# 필요한 열만을 추출

In [ ]:
seoul2019_1=seoul2019_1[['기준_년_코드','기준_분기_코드','상권_구분_코드','상권_구분_코드_명','상권_코드','상권_코드_명','서비스_업종_코드','서비스_업종_코드_명','당월_매출_금액','당월_매출_건수','점포수']]
seoul2019_2=seoul2019_2[['기준_년_코드','기준_분기_코드','상권_구분_코드','상권_구분_코드_명','상권_코드','상권_코드_명','서비스_업종_코드','서비스_업종_코드_명','당월_매출_금액','당월_매출_건수','점포수']]

In [ ]:
seoul2019_2.head(3)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,점포수
59567,2019,2,A,골목상권,1000001,계동길,CS300024,운동/경기용품,719106,10,3
79376,2019,2,A,골목상권,1000001,계동길,CS300018,의약품,58469796,6860,2
60712,2019,2,A,골목상권,1000001,계동길,CS100006,패스트푸드점,502472994,35702,7

# 상권리스트를 추출

In [ ]:
region1_list=seoul2019_1['상권_코드'].unique().tolist()
region2_list=seoul2019_2['상권_코드'].unique().tolist()
print(len(region1_list),len(region2_list))

1010 1010

In [ ]:
i=0
different=0
#누락된 상권이 있는지 체크
for i in range(0,len(region2_list)):
    if region1_list[i]!=region2_list[i]:
        different=1

print(different)

0

# 2019 1,2분기 상권별로 업종비교

중복이 아닌 업종 삭제 전 업종 리스트와 갯수가 상이

In [ ]:
group1 = seoul2019_1[seoul2019_1['상권_코드']==region1_list[70]]
group2 = seoul2019_2[seoul2019_2['상권_코드']==region1_list[70]]

#print(group1.head(3))

group1= group1.sort_values(by=['서비스_업종_코드'])
group2= group2.sort_values(by=['서비스_업종_코드'])

print(group1['상권_코드_명'].unique())

list1=group1['서비스_업종_코드'].unique().tolist()
list2=group2['서비스_업종_코드'].unique().tolist()

print('1분기',list1,'\n\n 2분기',list2)
print(len(list1),len(list2))

['이태원로54길']
1분기 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100005', 'CS100006', 'CS100007', 'CS100008', 'CS100009', 'CS100010', 'CS200001', 'CS200006', 'CS200007', 'CS200008', 'CS200016', 'CS200017', 'CS200019', 'CS200024', 'CS200028', 'CS200029', 'CS200030', 'CS200031', 'CS200034', 'CS200037', 'CS300001', 'CS300002', 'CS300004', 'CS300007', 'CS300010', 'CS300011', 'CS300014', 'CS300015', 'CS300016', 'CS300017', 'CS300018', 'CS300020', 'CS300022', 'CS300024', 'CS300028', 'CS300029', 'CS300043']

 2분기 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100005', 'CS100006', 'CS100008', 'CS100009', 'CS100010', 'CS200006', 'CS200007', 'CS200008', 'CS200016', 'CS200017', 'CS200019', 'CS200024', 'CS200028', 'CS200029', 'CS200030', 'CS200031', 'CS200034', 'CS200037', 'CS300001', 'CS300002', 'CS300004', 'CS300007', 'CS300011', 'CS300014', 'CS300015', 'CS300016', 'CS300017', 'CS300018', 'CS300020', 'CS300022', 'CS300024', 'CS300028', 'CS300043']
41 37

In [ ]:
for i in range(0,len(region1_list)):

    #하나의 지역을 추출해낸다 (EX) 이태원로54길
    group1 = seoul2019_1[seoul2019_1['상권_코드']==region1_list[i]]
    group2 = seoul2019_2[seoul2019_2['상권_코드']==region1_list[i]]

    # 서비스업종코드 비교를 위해 서비스 업종 코드를 오름차순으로 정렬한다
    group1= group1.sort_values(by=['서비스_업종_코드'])
    group2= group2.sort_values(by=['서비스_업종_코드'])

    
    #seoul2019데이터에서 삭제하기 위해 기존 index를 index 칼럼으로 생성한다
    group1=group1.reset_index()
    group2=group2.reset_index()


    j1=0 #group1의 행
    j2=0 #group2의 행
    
    while True:
        if group1.iloc[j1,7]== group2.iloc[j2,7]: #동일 지역의 서비스업종 코드 비교
            j1=j1+1
            j2=j2+1
        elif group1.iloc[j1,7] > group2.iloc[j2,7]: #1분기에 해당 업종이 존재하지 않을 경우 2분기 데이터에서 해당업종 삭제
            seoul2019_2.drop([group2.iloc[j2,0]],axis=0,inplace=True)
            j2=j2+1
        else:                                       #2분기에 해당 업종이 존재하지 않을 경우 1분기 데이터에서 해당업종 삭제
            seoul2019_1.drop([group1.iloc[j1,0]],axis=0,inplace=True)
            j1=j1+1
    
        if j1==len(group1) or j2==len(group2):
            break

중복이 아닌 업종 삭제 후 업종리스트와 갯수 동일

In [ ]:
group1 = seoul2019_1[seoul2019_1['상권_코드']==region1_list[70]]
group2 = seoul2019_2[seoul2019_2['상권_코드']==region1_list[70]]

group1= group1.sort_values(by=['서비스_업종_코드'])
group2= group2.sort_values(by=['서비스_업종_코드'])

print(group1['상권_코드_명'].unique())

list1=group1['서비스_업종_코드'].unique().tolist()
list2=group2['서비스_업종_코드'].unique().tolist()

print('1분기',list1,'\n\n 2분기',list2)
print(len(list1),len(list2))

['이태원로54길']
1분기 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100005', 'CS100006', 'CS100008', 'CS100009', 'CS100010', 'CS200006', 'CS200007', 'CS200008', 'CS200016', 'CS200017', 'CS200019', 'CS200024', 'CS200028', 'CS200029', 'CS200030', 'CS200031', 'CS200034', 'CS200037', 'CS300001', 'CS300002', 'CS300004', 'CS300007', 'CS300011', 'CS300014', 'CS300015', 'CS300016', 'CS300017', 'CS300018', 'CS300020', 'CS300022', 'CS300024', 'CS300028', 'CS300043']

 2분기 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100005', 'CS100006', 'CS100008', 'CS100009', 'CS100010', 'CS200006', 'CS200007', 'CS200008', 'CS200016', 'CS200017', 'CS200019', 'CS200024', 'CS200028', 'CS200029', 'CS200030', 'CS200031', 'CS200034', 'CS200037', 'CS300001', 'CS300002', 'CS300004', 'CS300007', 'CS300011', 'CS300014', 'CS300015', 'CS300016', 'CS300017', 'CS300018', 'CS300020', 'CS300022', 'CS300024', 'CS300028', 'CS300043']
37 37

# 2020년 상권코드 오름차순 정렬 후 1,2분기 추출

In [ ]:
seoul2020= s20.sort_values(by=['상권_코드'])

seoul2020_1=seoul2020[seoul2020['기준_분기_코드']==1]
seoul2020_2=seoul2020[seoul2020['기준_분기_코드']==2]

#seoul2020_1.head(3)
seoul2020_2.head(3)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
33255,2020,2,A,골목상권,1000001,계동길,CS300010,반찬가게,434129685,10094,...,0,2169,7925,0,167,1085,2419,2169,4254,3
33266,2020,2,A,골목상권,1000001,계동길,CS100003,일식음식점,46343892,1296,...,167,481,556,0,99,320,271,260,87,3
33265,2020,2,A,골목상권,1000001,계동길,CS100004,양식음식점,188904583,4529,...,58,1783,2516,41,1823,1338,417,443,236,3

# 필요한 열 추출

In [ ]:
seoul2020_1=seoul2020_1[['기준_년_코드','기준_분기_코드','상권_구분_코드','상권_구분_코드_명','상권_코드','상권_코드_명','서비스_업종_코드','서비스_업종_코드_명','당월_매출_금액','당월_매출_건수','점포수']]
seoul2020_2=seoul2020_2[['기준_년_코드','기준_분기_코드','상권_구분_코드','상권_구분_코드_명','상권_코드','상권_코드_명','서비스_업종_코드','서비스_업종_코드_명','당월_매출_금액','당월_매출_건수','점포수']]

In [ ]:
seoul2020_1.head(3)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,점포수
66509,2020,1,A,골목상권,1000001,계동길,CS100002,중식음식점,25767161,1413,1
66494,2020,1,A,골목상권,1000001,계동길,CS300017,시계및귀금속,405970117,1072,2
66508,2020,1,A,골목상권,1000001,계동길,CS100003,일식음식점,55484866,1272,3

# 상권리스트를 추출

In [ ]:
region3_list=seoul2020_1['상권_코드'].unique().tolist()
region4_list=seoul2020_2['상권_코드'].unique().tolist()
print(len(region3_list),len(region4_list))

1485 1485

In [ ]:
i=0
different=0
#누락된 상권이 있는지 체크
for i in range(0,len(region3_list)):
    if region3_list[i]!=region4_list[i]:
        different=1

print(different)

0

# 2020 1,2분기 상권별로 업종비교

In [ ]:
group3 = seoul2020_1[seoul2020_1['상권_코드']==region3_list[70]]
group4 = seoul2020_2[seoul2020_2['상권_코드']==region3_list[70]]

#print(group1.head(3))

group3= group3.sort_values(by=['서비스_업종_코드'])
group4= group4.sort_values(by=['서비스_업종_코드'])

print(group3['상권_코드_명'].unique())

list3=group3['서비스_업종_코드'].unique().tolist()
list4=group4['서비스_업종_코드'].unique().tolist()

print('1분기',list3,'\n\n 2분기',list4)
print(len(list3),len(list4)) #2019년과 업종 갯수 다름을 확인

['이태원로54길']
1분기 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100006', 'CS100008', 'CS100009', 'CS100010', 'CS200007', 'CS200028', 'CS200030', 'CS200031', 'CS300001', 'CS300002', 'CS300010', 'CS300011', 'CS300015', 'CS300016', 'CS300020', 'CS300022', 'CS300024', 'CS300028', 'CS300029']

 2분기 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100006', 'CS100008', 'CS100009', 'CS100010', 'CS200007', 'CS200028', 'CS200030', 'CS200031', 'CS300001', 'CS300002', 'CS300010', 'CS300011', 'CS300015', 'CS300016', 'CS300020', 'CS300022', 'CS300024', 'CS300028', 'CS300029']
23 23

In [ ]:
for i in range(0,len(region3_list)):

    #하나의 지역을 추출해낸다 (EX) 이태원로54길
    group3 = seoul2020_1[seoul2020_1['상권_코드']==region3_list[i]]
    group4 = seoul2020_2[seoul2020_2['상권_코드']==region3_list[i]]

    # 서비스업종코드 비교를 위해 서비스 업종 코드를 오름차순으로 정렬한다
    group3= group3.sort_values(by=['서비스_업종_코드'])
    group4= group4.sort_values(by=['서비스_업종_코드'])

    
    #seoul2020데이터에서 삭제하기 위해 기존 index를 index 칼럼으로 생성한다
    group3=group3.reset_index()
    group4=group4.reset_index()

    j1=0 #group3의 행
    j2=0 #group4의 행
    
    while True:
        if group3.iloc[j1,7]== group4.iloc[j2,7]:
            j1=j1+1
            j2=j2+1
        elif group3.iloc[j1,7] > group4.iloc[j2,7]: #1분기에 해당 업종이 존재하지 않을 경우 2분기 데이터에서 해당업종 삭제
            seoul2020_2.drop([group4.iloc[j2,0]],axis=0,inplace=True)
            j2=j2+1
        else:                                       #2분기에 해당 업종이 존재하지 않을 경우 1분기 데이터에서 해당업종 삭제
            seoul2020_1.drop([group3.iloc[j1,0]],axis=0,inplace=True)
            j1=j1+1
    
        if j1==len(group3) or j2==len(group4):
            break

In [ ]:
group3 = seoul2020_1[seoul2020_1['상권_코드']==region3_list[70]]
group4 = seoul2020_2[seoul2020_2['상권_코드']==region3_list[70]]

group3= group3.sort_values(by=['서비스_업종_코드'])
group4= group4.sort_values(by=['서비스_업종_코드'])

print(group3['상권_코드_명'].unique())

list3=group3['서비스_업종_코드'].unique().tolist()
list4=group4['서비스_업종_코드'].unique().tolist()

print('1분기',list3,'\n\n 2분기',list4)
print(len(list3),len(list4))

['이태원로54길']
1분기 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100006', 'CS100008', 'CS100009', 'CS100010', 'CS200007', 'CS200028', 'CS200030', 'CS200031', 'CS300001', 'CS300002', 'CS300010', 'CS300011', 'CS300015', 'CS300016', 'CS300020', 'CS300022', 'CS300024', 'CS300028', 'CS300029']

 2분기 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100006', 'CS100008', 'CS100009', 'CS100010', 'CS200007', 'CS200028', 'CS200030', 'CS200031', 'CS300001', 'CS300002', 'CS300010', 'CS300011', 'CS300015', 'CS300016', 'CS300020', 'CS300022', 'CS300024', 'CS300028', 'CS300029']
23 23

# 2019,2020년도 분기별 데이터 확인

In [ ]:
print(seoul2019_1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48434 entries, 31901 to 24217
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   기준_년_코드      48434 non-null  int64
 1   기준_분기_코드     48434 non-null  int64
 2   상권_구분_코드     48434 non-null  object
 3   상권_구분_코드_명   48434 non-null  object
 4   상권_코드        48434 non-null  int64
 5   상권_코드_명      48434 non-null  object
 6   서비스_업종_코드    48434 non-null  object
 7   서비스_업종_코드_명  48434 non-null  object
 8   당월_매출_금액     48434 non-null  int64
 9   당월_매출_건수     48434 non-null  int64
 10  점포수          48434 non-null  int64
dtypes: int64(6), object(5)
memory usage: 5.7+ MB
None

In [ ]:
print(seoul2019_2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48435 entries, 79376 to 98111
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   기준_년_코드      48435 non-null  int64
 1   기준_분기_코드     48435 non-null  int64
 2   상권_구분_코드     48435 non-null  object
 3   상권_구분_코드_명   48435 non-null  object
 4   상권_코드        48435 non-null  int64
 5   상권_코드_명      48435 non-null  object
 6   서비스_업종_코드    48435 non-null  object
 7   서비스_업종_코드_명  48435 non-null  object
 8   당월_매출_금액     48435 non-null  int64
 9   당월_매출_건수     48435 non-null  int64
 10  점포수          48435 non-null  int64
dtypes: int64(6), object(5)
memory usage: 4.4+ MB
None

In [ ]:
print(seoul2020_1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32523 entries, 66509 to 33288
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   기준_년_코드      32523 non-null  int64
 1   기준_분기_코드     32523 non-null  int64
 2   상권_구분_코드     32523 non-null  object
 3   상권_구분_코드_명   32523 non-null  object
 4   상권_코드        32523 non-null  int64
 5   상권_코드_명      32523 non-null  object
 6   서비스_업종_코드    32523 non-null  object
 7   서비스_업종_코드_명  32523 non-null  object
 8   당월_매출_금액     32523 non-null  int64
 9   당월_매출_건수     32523 non-null  int64
 10  점포수          32523 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.0+ MB
None

In [ ]:
print(seoul2020_2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32562 entries, 33255 to 0
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   기준_년_코드      32562 non-null  int64
 1   기준_분기_코드     32562 non-null  int64
 2   상권_구분_코드     32562 non-null  object
 3   상권_구분_코드_명   32562 non-null  object
 4   상권_코드        32562 non-null  int64
 5   상권_코드_명      32562 non-null  object
 6   서비스_업종_코드    32562 non-null  object
 7   서비스_업종_코드_명  32562 non-null  object
 8   당월_매출_금액     32562 non-null  int64
 9   당월_매출_건수     32562 non-null  int64
 10  점포수          32562 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.0+ MB
None

# 2019년도 2020년도 동일 상권 리스트 생성

In [ ]:
print(len(region1_list),len(region3_list))
#2019년 상권리스트 길이와 2020년 상권리스트 길이가 다름

1010 1485

In [ ]:
print(region1_list[0])
print(region1_list[len(region1_list)-1])

#2019년 상권코드는 1000001 ~ 1001010 까지 1010개 모두 포함

1000001
1001010
1000001
1001010

In [ ]:
print(region3_list[0])
print(region3_list[1009])
print(region3_list[len(region3_list)-1])

#2020년 상권코드는 1000001 ~ 1001496 까지 1485개만 포함

1000001
1001011
1001496

In [ ]:
region_all_list = list(set(region1_list) & set(region3_list)) #교집합 추출

print(len(region_all_list))
#print(region_all_list) #동일 지역 리스트

1009

# 2019년도 1분기,2분기/ 2020년도 1분기,2분기 데이터에서 동일 상권,업종 행만 남김

In [ ]:
for i in range(0,len(region_all_list)):

    #하나의 지역을 추출해낸다 (EX) 이태원로54길
    group19_1 = seoul2019_1[seoul2019_1['상권_코드']==region_all_list[i]]
    group19_2 = seoul2019_2[seoul2019_2['상권_코드']==region_all_list[i]]
    group20_1 = seoul2020_1[seoul2020_1['상권_코드']==region_all_list[i]]
    group20_2 = seoul2020_2[seoul2020_2['상권_코드']==region_all_list[i]]

    # 서비스업종코드 비교를 위해 서비스 업종 코드를 오름차순으로 정렬한다
    group19_1= group19_1.sort_values(by=['서비스_업종_코드'])
    group19_2= group19_2.sort_values(by=['서비스_업종_코드'])
    group20_1= group20_1.sort_values(by=['서비스_업종_코드'])
    group20_2= group20_2.sort_values(by=['서비스_업종_코드'])

    
    #기존 index를 index 칼럼으로 생성한다
    group19_1=group19_1.reset_index()
    group19_2=group19_2.reset_index()
    group20_1=group20_1.reset_index()
    group20_2=group20_2.reset_index()

    j1=0 
    j2=0 
    
    #각 년도 1분기 2분기는 같은 지역, 같은업종이므로, 1분기 그룹df만 비교
    while True:
        if group19_1.iloc[j1,7]== group20_1.iloc[j2,7]:
            j1=j1+1
            j2=j2+1
        elif group19_1.iloc[j1,7] > group20_1.iloc[j2,7]: #2019에 해당 업종이 존재하지 않을 경우 2020데이터에서 해당업종 삭제
            seoul2020_1.drop([group20_1.iloc[j2,0]],axis=0,inplace=True)
            seoul2020_2.drop([group20_2.iloc[j2,0]],axis=0,inplace=True)
            j2=j2+1
        else:                                       #2020에 해당 업종이 존재하지 않을 경우 2019데이터에서 해당업종 삭제
            seoul2019_1.drop([group19_1.iloc[j1,0]],axis=0,inplace=True)
            seoul2019_2.drop([group19_2.iloc[j1,0]],axis=0,inplace=True)
            j1=j1+1
    
        if j1==len(group19_1) or j2==len(group20_1):
            break

IndexError: single positional indexer is out-of-bounds