In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
s20= pd.read_csv('seoul2020.csv',encoding='euc-kr') #euc-kr
s19= pd.read_csv('seoul2019.csv',encoding='euc-kr')

In [3]:
s19.head(3)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2019,1,A,골목상권,1000365,도봉로169나길,CS100002,중식음식점,25690326,1441,...,0,912,379,6,58,337,420,336,134,3
1,2019,1,A,골목상권,1000067,원효로53길,CS100006,패스트푸드점,580603245,31183,...,1691,14973,13349,457,6954,7736,6489,5041,1649,10
2,2019,1,A,골목상권,1000206,제기로21길,CS300018,의약품,570668039,36759,...,0,19488,17138,87,2716,4773,8301,9009,11741,13

# 2019년도 데이터의 상권코드를 오름차순으로 정렬한다.

In [4]:
seoul2019= s19.sort_values(by=['상권_코드'])
seoul2020= s20.sort_values(by=['상권_코드'])

In [5]:
seoul2019.head(3)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
31901,2019,1,A,골목상권,1000001,계동길,CS300022,화장품,266653743,8797,...,194,1678,7051,106,2650,2619,1693,1125,537,15
15167,2019,1,A,골목상권,1000001,계동길,CS200008,한의원,274558800,3498,...,0,2079,1419,55,393,575,1409,360,706,6
59567,2019,2,A,골목상권,1000001,계동길,CS300024,운동/경기용품,719106,10,...,0,10,0,0,0,0,10,0,0,3

# 1. 2019년, 2020년 결손 상권 지역 삭제

2019년도와 2020년도의 상권_코드 갯수 비교

In [6]:
region2019=seoul2019['상권_코드'].unique().tolist() #2019년 상권 지역 추출
print(region2019[0:10])
region2020=seoul2020['상권_코드'].unique().tolist() #2019년 상권 지역 추출
print(region2020[0:10])

print("\n2019년 상권 지역 갯수 : ",len(region2019))
print("2020년 상권 지역 갯수 : ",len(region2020))
print("-> 상권 갯수(지역 수)가 다름을 확인")

[1000001, 1000002, 1000003, 1000004, 1000005, 1000006, 1000007, 1000008, 1000009, 1000010]
[1000001, 1000002, 1000003, 1000004, 1000005, 1000006, 1000007, 1000008, 1000009, 1000010]

2019년 상권 지역 갯수 :  1010
2020년 상권 지역 갯수 :  1485
-> 상권 갯수(지역 수)가 다름을 확인

In [7]:
#2019년 2020년 공통 상권 지역 추출
equal_region=[]

for i in range(0,len(region2019)):
    for j in range(0,len(region2020)):
        if(region2019[i] == region2020[j]):
            equal_region.append(region2019[i])
            
print("공통 상권 갯수 : ",len(equal_region))

공통 상권 갯수 :  1009

2019년도 결손 상권코드 삭제

In [8]:
#2019년 상권지역과 공통 상권지역의 차집합
differ_region_2019 = list(set(region2019) - set(equal_region))
print("2019년도데이터에서 삭제되야할 상권 코드 갯수 : ", len(differ_region_2019))

2019년도데이터에서 삭제되야할 상권 코드 갯수 :  1

In [9]:
print("기존 2019년도 데이터셋 갯수 : ",len(seoul2019))

#2019년 데이터에서 차집합 데이터 삭제
index = seoul2019[seoul2019['상권_코드']==differ_region_2019[0]].index

seoul2019 = seoul2019.drop(index)

print("삭제 후 2019년도 데이터셋 갯수 : ",len(seoul2019))

기존 2019년도 데이터셋 갯수 :  195692
삭제 후 2019년도 데이터셋 갯수 :  195587

2020년도 결손 상권지역 삭제

In [10]:
#2020년 상권지역과 공통 상권지역의 차집합
differ_region_2020 = list(set(region2020) - set(equal_region))
print("2020년도데이터에서 삭제되야할 상권 코드 갯수 : ", len(differ_region_2020))

2020년도데이터에서 삭제되야할 상권 코드 갯수 :  476

In [11]:
#2020년데이터에서 삭제를 위해 차집합 데이터 인덱스 배열 생성
indexes =[]

for i in range(0,len(differ_region_2020)):
    addindex = seoul2020[seoul2020['상권_코드']==differ_region_2020[i]].index
    indexes.append(addindex)

In [12]:
print("기존 2020년도 데이터셋 갯수 : ",len(seoul2020))
#차집합 데이터 인덱스로 drop
for i in range(0,len(indexes)):
    seoul2020 = seoul2020.drop(indexes[i])

print("삭제 후 2020년도 데이터셋 갯수 : ",len(seoul2020))

기존 2020년도 데이터셋 갯수 :  66511
삭제 후 2020년도 데이터셋 갯수 :  42727

공통 상권 지역갯수가 동일한 것을 확인

In [13]:
#공통상권지역개수와 동일
print("2019년 상권 지역 갯수 : ",len(seoul2019['상권_코드'].unique().tolist()))
print("2020년 상권 지역 갯수 : ",len(seoul2020['상권_코드'].unique().tolist()))

2019년 상권 지역 갯수 :  1009
2020년 상권 지역 갯수 :  1009

# 2. 2019년, 2020년 동일지역 결손 업종 삭제 처리

# 2-1. 2019년 1,2분기 동일지역 결손 업종 처리

In [14]:
seoul2019_1=seoul2019[seoul2019['기준_분기_코드']==1]
seoul2019_2=seoul2019[seoul2019['기준_분기_코드']==2]

필요한 열만을 추출

In [15]:
seoul2019_1=seoul2019_1[['기준_년_코드','기준_분기_코드','상권_구분_코드','상권_구분_코드_명','상권_코드','상권_코드_명','서비스_업종_코드','서비스_업종_코드_명','당월_매출_금액','당월_매출_건수','점포수']]
seoul2019_2=seoul2019_2[['기준_년_코드','기준_분기_코드','상권_구분_코드','상권_구분_코드_명','상권_코드','상권_코드_명','서비스_업종_코드','서비스_업종_코드_명','당월_매출_금액','당월_매출_건수','점포수']]

In [16]:
seoul2019_2.head(3)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,점포수
59567,2019,2,A,골목상권,1000001,계동길,CS300024,운동/경기용품,719106,10,3
79376,2019,2,A,골목상권,1000001,계동길,CS300018,의약품,58469796,6860,2
60712,2019,2,A,골목상권,1000001,계동길,CS100006,패스트푸드점,502472994,35702,7

# 2019 1,2분기 상권별로 업종비교

In [17]:
region_2019_list=seoul2019['상권_코드'].unique().tolist()
print(len(region_2019_list))

1009

동일지역 업종 리스트와 갯수가 상이하다는 것을 확인

In [18]:
group1 = seoul2019_1[seoul2019_1['상권_코드']==region_2019_list[70]]
group2 = seoul2019_2[seoul2019_2['상권_코드']==region_2019_list[70]]

#print(group1.head(3))

group1= group1.sort_values(by=['서비스_업종_코드'])
group2= group2.sort_values(by=['서비스_업종_코드'])

print(group1['상권_코드_명'].unique())

list1=group1['서비스_업종_코드'].unique().tolist()
list2=group2['서비스_업종_코드'].unique().tolist()

print('< 1분기 >\n',list1,'\n\n < 2분기 >\n',list2)
print('\n2019년 1분기 업종 갯수 :', len(list1))
print('2019년 2분기 업종 갯수 :', len(list2))

print("-> 공통 업종 수 : ",len(set(list1)&set(list2)))

['이태원로54길']
< 1분기 >
 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100005', 'CS100006', 'CS100007', 'CS100008', 'CS100009', 'CS100010', 'CS200001', 'CS200006', 'CS200007', 'CS200008', 'CS200016', 'CS200017', 'CS200019', 'CS200024', 'CS200028', 'CS200029', 'CS200030', 'CS200031', 'CS200034', 'CS200037', 'CS300001', 'CS300002', 'CS300004', 'CS300007', 'CS300010', 'CS300011', 'CS300014', 'CS300015', 'CS300016', 'CS300017', 'CS300018', 'CS300020', 'CS300022', 'CS300024', 'CS300028', 'CS300029', 'CS300043']

 < 2분기 >
 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100005', 'CS100006', 'CS100008', 'CS100009', 'CS100010', 'CS200006', 'CS200007', 'CS200008', 'CS200016', 'CS200017', 'CS200019', 'CS200024', 'CS200028', 'CS200029', 'CS200030', 'CS200031', 'CS200034', 'CS200037', 'CS300001', 'CS300002', 'CS300004', 'CS300007', 'CS300011', 'CS300014', 'CS300015', 'CS300016', 'CS300017', 'CS300018', 'CS300020', 'CS300022', 'CS300024', 'CS300028', 'CS300043']

2019년 1분기 업종 갯수 : 41
2019년 2분기 업종 갯수 : 37
-> 공통 업종 수 :  37

In [20]:
for i in range(0,len(region_2019_list)):
    #하나의 지역을 추출해낸다 (EX) 이태원로54길
    group1 = seoul2019_1[seoul2019_1['상권_코드']==region_2019_list[i]]
    group2 = seoul2019_2[seoul2019_2['상권_코드']==region_2019_list[i]]

    # 서비스업종코드 비교를 위해 서비스 업종 코드를 오름차순으로 정렬한다
    group1= group1.sort_values(by=['서비스_업종_코드'])
    group2= group2.sort_values(by=['서비스_업종_코드'])
    
    #seoul2019데이터에서 삭제하기 위해 기존 index를 index 칼럼으로 생성한다
    group1=group1.reset_index()
    group2=group2.reset_index()

    j1=0 #group1의 행
    j2=0 #group2의 행
    
    while True:
        if group1.iloc[j1,7] == group2.iloc[j2,7]: #동일 지역의 서비스업종 코드 비교
            j1=j1+1
            j2=j2+1
        elif group1.iloc[j1,7] > group2.iloc[j2,7]: #1분기에 해당 업종이 존재하지 않을 경우 2분기 데이터에서 해당업종 삭제
            seoul2019_2.drop([group2.iloc[j2,0]],axis=0,inplace=True)
            j2=j2+1
        else:                                       #2분기에 해당 업종이 존재하지 않을 경우 1분기 데이터에서 해당업종 삭제
            seoul2019_1.drop([group1.iloc[j1,0]],axis=0,inplace=True)
            j1=j1+1
       
        if j1==len(group1) or j2==len(group2): #한 분기에서 남은 업종이 없으면 종료
            #끝에 남아있는 업종이 있으면 삭제
            while True:
                if j2 <= len(group2)-1:
                    seoul2019_2.drop([group2.iloc[j2,0]],axis=0,inplace=True)
                    j2=j2+1
                else: break
            while True:
                if j1 <=len(group1)-1:
                    seoul2019_1.drop([group1.iloc[j1,0]],axis=0,inplace=True)
                    j1=j1+1
                else: break
            break

결손 업종 삭제 후 업종 수가 같아진 것을 확인

In [21]:
group1 = seoul2019_1[seoul2019_1['상권_코드']==region_2019_list[70]]
group2 = seoul2019_2[seoul2019_2['상권_코드']==region_2019_list[70]]

group1= group1.sort_values(by=['서비스_업종_코드'])
group2= group2.sort_values(by=['서비스_업종_코드'])

print(group1['상권_코드_명'].unique())

list1=group1['서비스_업종_코드'].unique().tolist()
list2=group2['서비스_업종_코드'].unique().tolist()

print('< 1분기 >\n',list1,'\n\n < 2분기 >\n',list2)
print('\n2019년 1분기 업종 갯수 :', len(list1))
print('2019년 2분기 업종 갯수 :', len(list2))
print("-> 공통 업종 수 : ",len(set(list1)&set(list2)))

['이태원로54길']
< 1분기 >
 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100005', 'CS100006', 'CS100008', 'CS100009', 'CS100010', 'CS200006', 'CS200007', 'CS200008', 'CS200016', 'CS200017', 'CS200019', 'CS200024', 'CS200028', 'CS200029', 'CS200030', 'CS200031', 'CS200034', 'CS200037', 'CS300001', 'CS300002', 'CS300004', 'CS300007', 'CS300011', 'CS300014', 'CS300015', 'CS300016', 'CS300017', 'CS300018', 'CS300020', 'CS300022', 'CS300024', 'CS300028', 'CS300043']

 < 2분기 >
 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100005', 'CS100006', 'CS100008', 'CS100009', 'CS100010', 'CS200006', 'CS200007', 'CS200008', 'CS200016', 'CS200017', 'CS200019', 'CS200024', 'CS200028', 'CS200029', 'CS200030', 'CS200031', 'CS200034', 'CS200037', 'CS300001', 'CS300002', 'CS300004', 'CS300007', 'CS300011', 'CS300014', 'CS300015', 'CS300016', 'CS300017', 'CS300018', 'CS300020', 'CS300022', 'CS300024', 'CS300028', 'CS300043']

2019년 1분기 업종 갯수 : 37
2019년 2분기 업종 갯수 : 37
-> 공통 업종 수 :  37

# 2-2. 2020년 1,2분기 동일상권 결손 업종 처리

In [22]:
seoul2020_1=seoul2020[seoul2020['기준_분기_코드']==1]
seoul2020_2=seoul2020[seoul2020['기준_분기_코드']==2]

필요한 열 추출

In [23]:
seoul2020_1=seoul2020_1[['기준_년_코드','기준_분기_코드','상권_구분_코드','상권_구분_코드_명','상권_코드','상권_코드_명','서비스_업종_코드','서비스_업종_코드_명','당월_매출_금액','당월_매출_건수','점포수']]
seoul2020_2=seoul2020_2[['기준_년_코드','기준_분기_코드','상권_구분_코드','상권_구분_코드_명','상권_코드','상권_코드_명','서비스_업종_코드','서비스_업종_코드_명','당월_매출_금액','당월_매출_건수','점포수']]

In [24]:
seoul2020_1.head(3)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,점포수
66509,2020,1,A,골목상권,1000001,계동길,CS100002,중식음식점,25767161,1413,1
66494,2020,1,A,골목상권,1000001,계동길,CS300017,시계및귀금속,405970117,1072,2
66508,2020,1,A,골목상권,1000001,계동길,CS100003,일식음식점,55484866,1272,3


# 2020 1,2분기 상권별로 업종비교

In [25]:
region_2020_list=seoul2020['상권_코드'].unique().tolist()
print(len(region_2020_list))

1009

동일지역 업종 리스트와 갯수가 상이하다는 것을 확인

In [26]:
group1 = seoul2020_1[seoul2020_1['상권_코드']==region_2020_list[180]]
group2 = seoul2020_2[seoul2020_2['상권_코드']==region_2020_list[180]]

group1= group1.sort_values(by=['서비스_업종_코드'])
group2= group2.sort_values(by=['서비스_업종_코드'])

print(group1['상권_코드_명'].unique(),"\n") #상권이름

list1=group1['서비스_업종_코드'].unique().tolist()
list2=group2['서비스_업종_코드'].unique().tolist()

print('< 1분기 >\n',list1,'\n\n < 2분기 >\n',list2)
print('\n2020년 1분기 업종 갯수 :', len(list1))
print('2020년 2분기 업종 갯수 :', len(list2))
print("-> 공통 업종 수 : ",len(set(list1)&set(list2)))

['망우로21길']

< 1분기 >
 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100008', 'CS100009', 'CS100010', 'CS200001', 'CS200002', 'CS200005', 'CS200006', 'CS200008', 'CS200028', 'CS200037', 'CS300002', 'CS300006', 'CS300007', 'CS300011', 'CS300014', 'CS300017', 'CS300018', 'CS300028', 'CS300033', 'CS300036']

 < 2분기 >
 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100008', 'CS100009', 'CS100010', 'CS200001', 'CS200002', 'CS200003', 'CS200005', 'CS200006', 'CS200008', 'CS200028', 'CS200031', 'CS200037', 'CS300002', 'CS300006', 'CS300007', 'CS300011', 'CS300014', 'CS300018', 'CS300028', 'CS300033', 'CS300036', 'CS300043']

2020년 1분기 업종 갯수 : 24
2020년 2분기 업종 갯수 : 26
-> 공통 업종 수 :  23

In [27]:
for i in range(0,len(region_2020_list)):

    #하나의 지역을 추출해낸다 (EX) 망우로21길
    group1 = seoul2020_1[seoul2020_1['상권_코드']==region_2020_list[i]]
    group2 = seoul2020_2[seoul2020_2['상권_코드']==region_2020_list[i]]

    # 서비스업종코드 비교를 위해 서비스 업종 코드를 오름차순으로 정렬한다
    group1= group1.sort_values(by=['서비스_업종_코드'])
    group2= group2.sort_values(by=['서비스_업종_코드'])

    
    #seoul2020데이터에서 삭제하기 위해 기존 index를 index 칼럼으로 생성한다
    group1=group1.reset_index()
    group2=group2.reset_index()

    j1=0 #group1의 행
    j2=0 #group2의 행
    
    while True:
        if group1.iloc[j1,7] == group2.iloc[j2,7]:
            j1=j1+1
            j2=j2+1
        elif group1.iloc[j1,7] > group2.iloc[j2,7]: #1분기에 해당 업종이 존재하지 않을 경우 2분기 데이터에서 해당업종 삭제
            seoul2020_2.drop([group2.iloc[j2,0]],axis=0,inplace=True)
            j2=j2+1
        else:                                       #2분기에 해당 업종이 존재하지 않을 경우 1분기 데이터에서 해당업종 삭제
            seoul2020_1.drop([group1.iloc[j1,0]],axis=0,inplace=True)
            j1=j1+1
    
        if j1==len(group1) or j2==len(group2): #한 분기의 업종리스트가 끝이 나면
            while True:
                if j2 <= len(group2)-1:
                    seoul2020_2.drop([group2.iloc[j2,0]],axis=0,inplace=True)
                    j2=j2+1
                else: break
            while True:
                if j1 <=len(group1)-1:
                    seoul2020_1.drop([group1.iloc[j1,0]],axis=0,inplace=True)
                    j1=j1+1
                else: break
            break

결손 업종 삭제 후 업종 수가 같아진 것을 확인

In [28]:
group1 = seoul2020_1[seoul2020_1['상권_코드']==region_2020_list[180]]
group2 = seoul2020_2[seoul2020_2['상권_코드']==region_2020_list[180]]

group1= group1.sort_values(by=['서비스_업종_코드'])
group2= group2.sort_values(by=['서비스_업종_코드'])

print(group1['상권_코드_명'].unique(),"\n") #상권이름

list1=group1['서비스_업종_코드'].unique().tolist()
list2=group2['서비스_업종_코드'].unique().tolist()

print('< 1분기 >\n',list1,'\n\n < 2분기 >\n',list2)
print('\n2020년 1분기 업종 갯수 :', len(list1))
print('2020년 2분기 업종 갯수 :', len(list2))
print("-> 공통 업종 수 : ",len(set(list1)&set(list2)))

['망우로21길']

< 1분기 >
 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100008', 'CS100009', 'CS100010', 'CS200001', 'CS200002', 'CS200005', 'CS200006', 'CS200008', 'CS200028', 'CS200037', 'CS300002', 'CS300006', 'CS300007', 'CS300011', 'CS300014', 'CS300018', 'CS300028', 'CS300033', 'CS300036']

 < 2분기 >
 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100008', 'CS100009', 'CS100010', 'CS200001', 'CS200002', 'CS200005', 'CS200006', 'CS200008', 'CS200028', 'CS200037', 'CS300002', 'CS300006', 'CS300007', 'CS300011', 'CS300014', 'CS300018', 'CS300028', 'CS300033', 'CS300036']

2020년 1분기 업종 갯수 : 23
2020년 2분기 업종 갯수 : 23
-> 공통 업종 수 :  23

# 2-3. 2019년도 1분기,2분기 / 2020년도 1분기,2분기 동일 상권 결손 업종 삭제

In [29]:
region_all_list = list(set(region_2019_list) & set(region_2020_list)) #1.처리로 이미 2019년도와 2020년 지역이 동일하도록 처리완료
print(len(region_all_list))

1009

동일지역 업종 리스트와 갯수가 상이하다는 것을 확인

In [30]:
group1 = seoul2019_1[seoul2019_1['상권_코드']==region_all_list[70]]
group2 = seoul2020_1[seoul2020_1['상권_코드']==region_all_list[70]]

group1= group1.sort_values(by=['서비스_업종_코드'])
group2= group2.sort_values(by=['서비스_업종_코드'])

print(group1['상권_코드_명'].unique())

list1=group1['서비스_업종_코드'].unique().tolist()
list2=group2['서비스_업종_코드'].unique().tolist()

print('< 2019년 1분기 >\n',list1,'\n\n < 2020년 1분기 >\n',list2)
print('\n2019년 1분기 업종 갯수 :', len(list1))
print('2020년 1분기 업종 갯수 :', len(list2))
print("-> 공통 업종 수 : ",len(set(list1)&set(list2)))

['이태원로54길']
< 2019년 1분기 >
 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100005', 'CS100006', 'CS100008', 'CS100009', 'CS100010', 'CS200006', 'CS200007', 'CS200008', 'CS200016', 'CS200017', 'CS200019', 'CS200024', 'CS200028', 'CS200029', 'CS200030', 'CS200031', 'CS200034', 'CS200037', 'CS300001', 'CS300002', 'CS300004', 'CS300007', 'CS300011', 'CS300014', 'CS300015', 'CS300016', 'CS300017', 'CS300018', 'CS300020', 'CS300022', 'CS300024', 'CS300028', 'CS300043']

 < 2020년 1분기 >
 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100006', 'CS100008', 'CS100009', 'CS100010', 'CS200007', 'CS200028', 'CS200030', 'CS200031', 'CS300001', 'CS300002', 'CS300010', 'CS300011', 'CS300015', 'CS300016', 'CS300020', 'CS300022', 'CS300024', 'CS300028', 'CS300029']

2019년 1분기 업종 갯수 : 37
2020년 1분기 업종 갯수 : 23
-> 공통 업종 수 :  21

In [31]:
# 각 년도의 1분기와 2분기는 결손 업종을 이미 처리해놨기 때문에 년도별 한분기씩만 비교해도 된다.
# 2019년 1분기와 2020년 1분기의 동일지역 결손 업종을 비교하여 삭제처리
for i in range(0,len(region_all_list)):

    #하나의 지역을 추출해낸다 (EX) 이태원로54길
    group19_1 = seoul2019_1[seoul2019_1['상권_코드']==region_all_list[i]]
    group19_2 = seoul2019_2[seoul2019_2['상권_코드']==region_all_list[i]]
    group20_1 = seoul2020_1[seoul2020_1['상권_코드']==region_all_list[i]]
    group20_2 = seoul2020_2[seoul2020_2['상권_코드']==region_all_list[i]]

    # 서비스업종코드 비교를 위해 서비스 업종 코드를 오름차순으로 정렬한다
    group19_1= group19_1.sort_values(by=['서비스_업종_코드'])
    group19_2= group19_2.sort_values(by=['서비스_업종_코드'])
    group20_1= group20_1.sort_values(by=['서비스_업종_코드'])
    group20_2= group20_2.sort_values(by=['서비스_업종_코드'])

    
    #기존 index를 index 칼럼으로 생성한다
    group19_1=group19_1.reset_index()
    group19_2=group19_2.reset_index()
    group20_1=group20_1.reset_index()
    group20_2=group20_2.reset_index()

    j1=0 
    j2=0 
    
    #각 년도 1분기 2분기는 같은 지역, 같은업종이므로, 1분기 그룹df만 비교
    while True:
        if group19_1.iloc[j1,7]== group20_1.iloc[j2,7]:
            j1=j1+1
            j2=j2+1
        elif group19_1.iloc[j1,7] > group20_1.iloc[j2,7]: #2019에 해당 업종이 존재하지 않을 경우 2020데이터에서 해당업종 삭제
            seoul2020_1.drop([group20_1.iloc[j2,0]],axis=0,inplace=True)
            seoul2020_2.drop([group20_2.iloc[j2,0]],axis=0,inplace=True)
            j2=j2+1
        else:                                       #2020에 해당 업종이 존재하지 않을 경우 2019데이터에서 해당업종 삭제
            seoul2019_1.drop([group19_1.iloc[j1,0]],axis=0,inplace=True)
            seoul2019_2.drop([group19_2.iloc[j1,0]],axis=0,inplace=True)
            j1=j1+1
        
        if j1==len(group19_1) or j2==len(group20_1): #한 분기의 업종리스트가 끝이 나면
            while True:
                if j2 <= len(group20_1)-1:
                    seoul2020_1.drop([group20_1.iloc[j2,0]],axis=0,inplace=True)
                    seoul2020_2.drop([group20_2.iloc[j2,0]],axis=0,inplace=True)
                    j2=j2+1
                else: break
            while True:
                if j1 <=len(group19_1)-1:
                    seoul2019_1.drop([group19_1.iloc[j1,0]],axis=0,inplace=True)
                    seoul2019_2.drop([group19_2.iloc[j1,0]],axis=0,inplace=True)
                    j1=j1+1
                else: break
            break

In [32]:
group1 = seoul2019_1[seoul2019_1['상권_코드']==region_all_list[70]]
group2 = seoul2020_1[seoul2020_1['상권_코드']==region_all_list[70]]

group1= group1.sort_values(by=['서비스_업종_코드'])
group2= group2.sort_values(by=['서비스_업종_코드'])

print(group1['상권_코드_명'].unique())

list1=group1['서비스_업종_코드'].unique().tolist()
list2=group2['서비스_업종_코드'].unique().tolist()

print('< 2019년 1분기 >\n',list1,'\n\n < 2020년 1분기 >\n',list2)
print('\n2019년 1분기 업종 갯수 :', len(list1))
print('2020년 1분기 업종 갯수 :', len(list2))
print("-> 공통 업종 수 : ",len(set(list1)&set(list2)))

['이태원로54길']
< 2019년 1분기 >
 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100006', 'CS100008', 'CS100009', 'CS100010', 'CS200007', 'CS200028', 'CS200030', 'CS200031', 'CS300001', 'CS300002', 'CS300011', 'CS300015', 'CS300016', 'CS300020', 'CS300022', 'CS300024', 'CS300028']

 < 2020년 1분기 >
 ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100006', 'CS100008', 'CS100009', 'CS100010', 'CS200007', 'CS200028', 'CS200030', 'CS200031', 'CS300001', 'CS300002', 'CS300011', 'CS300015', 'CS300016', 'CS300020', 'CS300022', 'CS300024', 'CS300028']

2019년 1분기 업종 갯수 : 21
2020년 1분기 업종 갯수 : 21
-> 공통 업종 수 :  21

In [33]:
result=pd.concat([seoul2019_1,seoul2019_2,seoul2020_1,seoul2020_2])

In [34]:
result.head(3)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,점포수
15167,2019,1,A,골목상권,1000001,계동길,CS200008,한의원,274558800,3498,6
33460,2019,1,A,골목상권,1000001,계동길,CS100002,중식음식점,244087512,8684,4
32320,2019,1,A,골목상권,1000001,계동길,CS100006,패스트푸드점,418080410,28824,7

In [35]:
result=result.reset_index(drop=True)

In [36]:
result.head(3)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,점포수
0,2019,1,A,골목상권,1000001,계동길,CS200008,한의원,274558800,3498,6
1,2019,1,A,골목상권,1000001,계동길,CS100002,중식음식점,244087512,8684,4
2,2019,1,A,골목상권,1000001,계동길,CS100006,패스트푸드점,418080410,28824,7

In [37]:
if not os.path.exists('seoul2019_2020.csv'):
    result.to_csv('seoul2019_2020.csv',index=False,mode='w',encoding='utf-8-sig')
else:
    result.to_csv('seoul2019_2020.csv',header=False,index=False, mode='a',encoding='utf-8-sig')